/* Additional style for the header */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  /* Align the text to the left */
}
.title {
  font-weight: bold;
  color: white;
  font-size: 3em; /* You can adjust the size as needed */
  margin-right: 1rem;
}
