.mainContainer {
  display: flex;
  flex-direction: column;
}

.exportCell {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #3c3c3c;
}

.exportCell:hover {
  background-color: #3c3c3c; /* Set your desired hover color */
}

.exportCell:hover {
  border: 1.5px solid #222222;
}

.even-color {
  background-color: #222222;
}
.odd-color {
  background-color: #00000000;
}

.collection-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.25rem;
}

.dropdown-cell {
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  .collection-name-container {
    display: flex;
    flex: 40%; /* Adjust as needed */
  }
}

.version-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #3c3c3c;
  margin-left: 4rem;
  cursor: pointer;
  position: relative;
}

.collection-cell:hover {
  .collection-checkbox,
  .version-checkbox,
  .production-checkbox,
  .development-checkbox,
  .disabled-checkbox {
    border: 1.5px solid #222222 !important;
  }
  background-color: #3c3c3c; /* Set your desired hover color */
}

.collection-checkbox,
.version-checkbox,
.production-checkbox,
.development-checkbox,
.disabled-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2rem;
  height: 2rem;
  border: 1.5px solid #3c3c3c;
  cursor: pointer;
  position: relative;
  line-height: 20px;
  vertical-align: middle;
  margin-left: 1.5rem;

  &:checked {
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('data:image/svg+xml;utf8,<svg fill="none" height="100%" stroke="white" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg"><polyline points="20 6 9 17 4 12" stroke-width="3"></polyline></svg>')
        no-repeat center center;
      background-size: 70%;
    }
  }
}

.version-checkbox,
.production-checkbox,
.development-checkbox,
.disabled-checkbox {
  margin-left: 0.75rem !important;
  margin-right: 2rem !important;
}

.disabled-checkbox {
  background: url('data:image/svg+xml;utf8,<svg fill="none" height="100%" stroke="white" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg"><line x1="4" y1="12" x2="20" y2="12" stroke-width="3"></line></svg>')
}

.checkmark {
  display: inline-block;
  margin-left: 5px;
  color: #333;
}


