/* index.scss */

/* Style for the ExportList component */
.export-list-container {
  margin-left: 10vw;
  margin-right: 10vw;

  /* Additional style for the header */
  .header {
    text-align: left; /* Align the text to the left */
  }
  .header h2 {
    font-size: 3em; /* You can adjust the size as needed */
  }
}

ul {
  padding-bottom: 10px; /* Adjust the padding value as needed */
}
